@import "../../../globals";

.Landing {

    .Content {
        height: 90vh;
        display: flex;
        flex-direction: row;

        .left {
            flex: 0.4;
            overflow: hidden;
            justify-content: center;
            display: flex;
            margin: 30px;

            img {
                scale: 0.75;
            }
        }

        .right {
            flex: 0.6;
            position: relative;
            overflow-y: hidden;
            overflow-x: hidden;

            .wrapper {
                width: 100%;
                height: 100%;
                padding-left: 7px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 45px;
                    margin: 10px 0;
                    color: $offwhite;
                    position: relative;
                    font-family: "Segoe UI Normal"!important;

                    span {
                        font-family: "Amaz Oostrov Sub-Logo" !important;
                        letter-spacing: 1px;
                    }
                }

                h2 {
                    font-size: 40px;
                    color: #FE5000;
                    position: relative;
                    font-family: "Segoe UI Normal"!important;
                }

                h3 {
                    font-size: 30px;
                    color: #FE5000;
                    position: relative;
                    margin: 10px 0;
                    font-family: "Segoe UI Normal"!important;

                    span {
                        margin: 10px 0;
                        color: white;
                        font-family: "Segoe UI Bold"!important;
                    }
                }

                svg {
                    position: absolute;
                    padding-right: 5vw;
                    opacity: 0.125;
                }
            }
        }
    }
}
