@import "../../globals";

.content {
  margin-top: 8rem;
}

section {
  margin-bottom: 5rem;
}

.intro {
  height: 20vh !important;
  .content {
    .left {
      flex: 0.6 1;
      overflow: hidden;
      justify-content: center;
      display: flex;
      margin-top: $introSectionPadding;
    }
  }
}

.about-outreach {
  margin-top: 7.5rem;
  .content {
    display: flex;
    margin-left: 50px;

    .left {
      flex: .68 1;
      margin-left: 13rem;
      padding-right: 1rem;
      .title {
        font-size: 33px;
        font-weight: 400;
        span {
          color: $orange;
          font-weight: 300;
        }
        .question-mark {
          font-size: 25px;
          font-weight: 100;
          margin-left: 2px;
        }
      }
    }

    .right {
      padding-top: 2rem;

      img {
        border: .8px solid $orange;
        border-radius: 8px;
      }
    }
  }
}

.upcoming-events {
  margin-left: 16rem;
  margin-right: 16rem;
  .event-header {
    font-weight: 400;
    font-size: 33px;
    padding-bottom: 1.5rem;
    span {
      font-size: 33px!important;
    }
  }

  .row {
    background-color: $offblue;
    border-radius: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float:left;
    width: 50%;
    padding: 17px;
    text-align: center;


    .event-title {
      font-size: 20px;
      font-weight: 300;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .date {
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}

.projects {
  .content {
    margin-left: 16rem;
    margin-right: 16rem;

    .title {
      margin-bottom: 1.5rem;

      h2 {
        font-size: 33px;
        font-weight: 400;
      }
    }
    .box {
      display: flex;
      padding: 2rem 0rem 2rem 2rem;
      margin-bottom: 4rem;
      background: $offblue;
      border-radius: 3vh;
      border: 1px solid $offblue;

      &:hover {
        border: 1px solid $offBlack;
      }
      .left {
        flex: 0.9 1;
        margin: 2rem;

        .title {
          font-size: 2rem;
        }

        .description {
          font-size: 1.5rem;
          font-weight: 300;
        }
      }

      .right {
        img {
          //border: .5px solid $orange;
          border-radius: 8px;
          width: 300px;
          height: 250px;
        }
      }
    }
  }
}