@import "../../../globals";

.currBot {
    .Content {
        height: 80vh;
        display: flex;
        flex-direction: row; // Default to column for mobile

        // Use MUI media query to change flex-direction for larger screens
        @media (max-width: 1280px) {
            flex-direction: column;

        }

        margin-bottom: 3vh;

        .left,
        .right {
            flex: 1;
            overflow: hidden;
            position: relative;
            align-items: center;
            display: flex;

           
                
                    .youtube {
                        @media (max-width: 1280px) {
                           scale: 1;  
                           padding-right: 1vh;
                           
                        }
                    }
            }
        }
    }

        .right {
            margin-bottom: 2vh;

            .wrapper {
                .mini {
                    font-size: 2.5rem;
                    color: $offwhite;
                    padding: 1vh;

                    @media(max-width:1280px){
                        font-size: 1.5rem;
                        color: $offwhite;
                        padding-top: 7vh;
                    }
                }

                .extraMini {
                    font-size: 1rem;
                    font-weight: 300;
                    color: $grey;
                    line-height: 3em;

                    @media(max-width:1280px){
                        font-size: .70rem;
                        font-weight: 300;
                        color: $grey;
                        line-height: 3em;
                    }
                }   

                svg {
                    position: absolute;
                    padding-right: 5vw;
                    opacity: 0.125;
                    transform: scale(0.97); // Corrected property name
                }
            }

            .buttons {
                .db {
                    margin-top: 2vw;
                    margin-left: 1vw;
                    margin-right: 1vw;
                }

            }
        }


