@import "./globals";

*{
    box-sizing: border-box;
    font-family: "Segoe UI Normal";
}

body {
    margin: 0;
    font-family: "Segoe UI Normal"!important;
}

.App {
    transition: background-color 100ms ease;
    background-color: $blue;
}