.Sponsors {
  .content2 {
    //margin-left: 50px;
    margin-top: 4rem;
    text-align: center;
    padding: 3rem;
    padding-top: 0;
    margin-left: -1rem;

    .div2 {
      margin-bottom: 3.5rem;
      border-right: 0.5rem;
    }
    .cat {
      margin-top: 2.5rem;
    }

    Box Grid Item {
      background: none !important;
    }
    .row{
      display: flex;

      .col {
        margin-left: 1rem;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}